- content_for :head do
  = javascript_include_tag :inbox
  = javascript_include_tag :matrix

- content_for :page_title do
  = t('.conversations_inbox')

.container-fluid#conversations_container
  %section#matrixchat
