.page-registrations.action-new {
  margin-bottom: 0;
}
#registration {
  height:100vh;
  min-height:100vh;
  max-height:100vh;
  background: image-url("tokyoskytree.jpg") no-repeat center center fixed;
  background-size: cover;

  .v-center {
    display: table;
    height: 633px;

    .content {
      display: table-cell;
      vertical-align: middle;

      #pod-name {
        text-align: center;
        margin: 12px;
        font-size : 35px;
      }
    }
  }

  form {
    max-width: 400px;
    fieldset {
      background-color: transparent;
    }
    .captcha_img {
      position: absolute;
      left: 10px;
      width: 120px;
      top: 169px;
    }
    #user_captcha {
      font-size: 16px;
      height: 40px;
      padding: 10px 10px 10px 130px;
      line-height: $line-height-base;
      box-sizing: border-box;
      width: 100%;
      border-bottom: 1px solid $border-grey;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    #terms {
      color: #000000;
      a {
        color: inherit;
        text-decoration: underline;
      }
    }
  }
}
