body.page-home.action-new {
  margin: 0;
  font-size: 13px;
  .outer-container {
    width: 100%;
    height: 100vh;
  }
  .inner-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    width: 1112px;
    height: 678px;
  }
}

.about-circle {
  position: absolute;
  left: 0px;
  top: 306px;
  width: 200px;
  height: 200px;
  padding: 26px 32px;
  border: 6px solid #333333;
  color: #333333;
  border-radius: 50%;
  text-align: center;
  font-family: Courier, Georgia, Times, 'Times New Roman', serif;
  font-size: 0.98em;
  line-height: 1.2;
  font-weight: bold;
  letter-spacing: -0.6px;
}

.center-image {
  position: absolute;
  left: 194px;
  top: 94px;
  z-index: -1;
}

.login-circle {
  position: absolute;
  left: 792px;
  top: 364px;
  padding: 68px 24px;
  width: 320px;
  height: 320px;
  border: 8px solid #333333;
  color: #333333;
  border-radius: 50%;
  font-family: Rockwell, 'Courier Bold', Courier, Georgia, Times, 'Times New Roman', serif;
  & a {
    color: #333333;
  }
  form {
    input, i {
      color: #333333 !important;
      border-color: #333333 !important;
    }
  }
}

.join-circle {
  position: absolute;
  left: 420px;
  top: 0px;
  width: 120px;
  height: 120px;
  border: 5px solid #333333;
  color: #333333 !important;
  border-radius: 50%;
  padding: 36px 27px;
  text-align: center;
  text-decoration: none;
  font-family: Courier, Georgia, Times, 'Times New Roman', serif;
  font-size: 2em;
  letter-spacing: -1.5px;
}
